body{
    margin: 0px;
}
 


h1{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9c9c9c;
   
}

img{
    width: 500px;
    height: 375px;
    border-radius: 5px;
}

p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    text-align: justify;
}

div{

    width: 500px;
    margin: 50px auto;
}
